//== Page error 404
//
.img-404 {
	text-align: center;
	padding: 70px 0 150px 0;
	img {
		margin-bottom: 50px;
	}
	p {
		font-size: $font_size_medium;
		color: $color_base_sevth;
		margin-bottom:14px;
	}
	a {
		font-size: $font_size_medium;
		color: $color_base_fifth;
	}
}