//== Block place
//
.list-wrapper {

}

//== Place horizontal GIRD
//
.list-places {
	> li {
		margin-bottom: 30px;
		.place-wrapper {
			-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
			-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
			box-shadow: 0 0 0 1px rgba(0,0,0,.05);
			.hidden-img {
				position: relative;
				overflow: hidden;
				height: 270px;
				.img-place {
					display: block;
					width: 100%;
					height: 100%;
					img {
						min-width: 100%;
						height: 100%;
						@include _transition(all 2.75s cubic-bezier(0, 0.83, 0.17, 1));
					}
					/* .ribbon {
						position: absolute;
						font-size: $font_size_small;
						font-weight: 700;
						color: #fff;
						text-align: center;
						padding: 3px 5px 3px 10px;
						bottom: 13px;
						z-index: 7;
						line-height: 1.25;
						&::after {
							content: "";
						    position: absolute;
						    display: block;
						    z-index: -1;
						    bottom: 0;
							right: -15px;
						    border-left-width: 1.5em;
						    border-right-color: transparent;
						}
						.ribbon-content {
							@include text_nowrap();
							max-width: 60px;
						}
					} */
				}
			}
			.place-detail-wrapper {
				padding: 15px;
				background: #FFF;
				.title-place {
					margin: 0 0 7px;
					font-size: $font_size_base + 2;
					font-weight: 400;
					line-height: 1.3em;
					@include text_nowrap();
					a {
						color: $color_base_third;
						&:hover {
							color: $color_base_fifth;
						}
					}
				}
				.address-place {
					font-size: $font_size_small;
					line-height: 1.2em;
					color: $color_base_fourth;
					@include text_nowrap();
					margin: 0 0 8px;
					padding-left: 1px;
					i {
						margin-right: $margin_icon_font;
					}
				}
				.content-place {
					@include text_nowrap();
					display: none;
					line-height: 1.3em;
					color: $color_base_sevth;
				}
			}
		}
	}
}

//== Place horizontal LIST
//
.list-places {
	&.fullwidth { 
		> li {
			.place-wrapper {
				height: 150px;
				.hidden-img {
					float: left;
					width: 200px;
					height: 150px;
					.img-place {
    					overflow: hidden;
					}
					.tag-featured {
						height: 150px;
					}
				}
				.place-detail-wrapper {
					overflow: hidden;
				    height: 150px;
				    padding: 25px 20px;
				    position: relative;
				    .title-place {
				    	font-size: $font_size_large;
				    	font-weight: 600;
				    	margin: 0 0 7px;
				    }
				    .address-place {
				    	margin: 0 0 14px;
				    	// padding-left: 1px;
				    }
					.content-place {
						display: block;
						margin:0 0 10px;
					}
				}
			}
		}
	}

}

//== Place vertical LIST
//
.list-places {
	&.vertical {
		> li {
			margin-bottom: 13px;
			.place-wrapper, .nearby {
				position: relative;
				height: 60px;
				.img-place {
					position: relative;
					overflow: hidden;
					float: left;
					width: 70px;
					height: 60px;
					min-height: 60px;
					max-height: 60px;
					img {
						width: 100%;
						height: 100%;
					}
					.ribbon {
						position: absolute;
						font-size: $font_size_small;
						font-weight: 600;
						color: #fff;
						text-align: center;
						padding: 3px 0 3px 6px;
						bottom: 5px;
						z-index: 7;
						line-height: 0.9;
						&::after {
							content: "";
						    position: absolute;
						    display: block;
						    border: 8px solid #eb5256;
						    z-index: -1;
						    bottom: 0;
							right: -7px;
						    border-left-width: 1.5em;
						    border-right-color: transparent;
						}
						.ribbon-content {
							@include text_nowrap();
							max-width: 60px;
						}
					}
				}
				.tag-featured {
					position: absolute;
					overflow: hidden;
					top: 0px;
					left: 0px;
					width:25px;
					height:25px;
				    padding-top: 5px;
				    padding-left: 5px;
					color: #ffd263;
					background: none;
				    i {
				    	font-size: $font_size_base;
				        margin-right: 5px;
				    }
				}
				.place-detail-wrapper {
					overflow: hidden;
				    height: 60px;
				    padding: 5px 10px;
				    position: relative;
				    .title-place {
				    	font-size: $font_size_base;
				    	font-weight: 400;
				    	margin: 0 0 2px;
				    }
				    .address-place {
				    	margin: 0 0 2px;
				    }
					.content-place {
						display: none;
						margin:0 0 5px;
					}
					.rate-it {
						i {
							font-size: $font_size_small - 1;
						}
					}
				}
			}
		}
	}
}

//== Place Nearby
//
.list-places {
	&.fullwidth {
		> li {
			margin-bottom: 13px;
			.place-wrapper.nearby {
				height: 60px;
				.hidden-img {
					width: 70px;
					height: 60px;
					.edit-place-option {
						display: none;
					}
					.img-place {
						position: relative;
						overflow: hidden;
						float: left;
						width: 70px;
						height: 60px;
						min-height: 60px;
						max-height: 60px;
						img {
							width: 100%;
							height: 100%;
						}
						.ribbon {
							position: absolute;
							font-size: $font_size_small;
							font-weight: 600;
							color: #fff;
							text-align: center;
							padding: 3px 0 3px 6px;
							bottom: 5px;
							z-index: 7;
							line-height: 0.9;
							&::after {
								content: "";
							    position: absolute;
							    display: block;
							    z-index: -1;
							    bottom: 0;
								right: -12px;
							    border-left-width: 1.5em;
							    border-right-color: transparent;
							}
							.ribbon-content {
								@include text_nowrap();
								max-width: 60px;
							}
						}
					}
				}
				
				.place-detail-wrapper {
					overflow: hidden;
				    height: 60px;
				    padding: 5px 10px;
				    position: relative;
				    .title-place {
				    	font-size: $font_size_base;
				    	font-weight: 400;
				    	margin: 0 0 2px;
				    }
				    .address-place {
				    	margin: 0 0 2px;
				    }
					.content-place {
						display: none;
						margin:0 0 5px;
					}
					.rate-it {
						i {
							font-size: $font_size_small - 1;
						}
					}
				}
			}
		}
	}
}

//== Pedding list 
//
#pending-places .edit-place-option li {
	margin: 0 12px;
}

//== Hover place
//
.list-places {
	> li:hover {
		.edit-place-option {
			li {
				transform:scale(1,1);
				-webkit-transform:scale(1,1);
				-moz-transform:scale(1,1);
			}
		}
		.img-place {
			img {
				opacity: 0.2;
				@include _transform(scale(1.4, 1.4));
			}
		}
		.tag-featured {
			width: 0 !important;
			height: 0 !important;
			padding: 0 !important;
		}
	}
}

//== Infowindow Place
//
.infowindow {
	height: 60px;
	.place-wrapper {
		.img-place {
			float: left;
			overflow: hidden;
			width: 70px;
			height: 60px;
			margin-right: 12px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.place-detail-wrapper {
			padding-right: 20px;
			.title-place {
				font-size: 14px;
				color: #434b63;
				font-weight: 400;
				@include text_nowrap();
				line-height: 1.3;
				margin: 0 0 2px;
				padding-top:4px;
				a {
					color: $color_base_sevth;
				}
			}
			.address-place {
				color: #6f7d95;
				font-size: 12px;
				display: block;
				margin:  0 0 4px;
				padding-left: 1px;
				@include text_nowrap();
			}
			.rate-it {

			}
		}
	}
}

//== Option edit
//
.edit-place-option {
	position: absolute;
    top: 45.5%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    li {
    	display: inline-block;
    	margin: 0 20px;
    	transform: scale(0,0);
		-webkit-transform:scale(0,0);
		-moz-transform:scale(0,0);
		-webkit-transition: all 0.5s cubic-bezier(0, 0.83, 0.17, 1);
		-moz-transition: all 0.5s cubic-bezier(0, 0.83, 0.17, 1);
		-o-transition: all 0.5s cubic-bezier(0, 0.83, 0.17, 1);
		-ms-transition: all 0.5s cubic-bezier(0, 0.83, 0.17, 1);
		transition: all 0.5s cubic-bezier(0, 0.83, 0.17, 1);
    	a {
    		color: $color_base_fifth;
    		i {
    			font-size: 22px;
    		}
    	}
    }
}

//== Block review place horizontal
//
.list-place-review {
	> li {
		margin: 0 0 30px;
		.place-review {
			.place-review-top-wrapper {
				padding:0 7px;
				.place-review-top {
					position: relative;
					border: 1px solid #e6e9ea;
					border-bottom: none;
					padding: 12px 10px;
					background: #FFF;
					h2 {
						margin: 0 0 4px;
						width: 74%;
						font-size: $font_size_medium;
						line-height: 1.3em;
						font-weight: 400;
						@include text_nowrap();
						a {
							color: $color_base_third;
							&:hover {
								color: $color_base_fifth;
							}
						}
					}
					.address-place {
						font-size: $font_size_small;
						color: $color_base_fourth;
						line-height: 1.3em;
						padding-left: 1px;
						@include text_nowrap();
						i {
							margin-right: $margin_icon_font;
						}
					}
					.number-comment {
						position: absolute;
						top: 17px;
						right: 10px;
						color: $color_base_third;
						font-size: $font_size_small;
					}
				}
			}
			.place-image-wrapper {
				position: relative;
				overflow: hidden;
				background: #FFF;
				border: 1px solid #e6e9ea;
				height: 170px;
				padding: 7px;
				z-index: 10;
				margin-top: -1px;
				.hidden-img {
					img {
						width: 100%;
					}
				}
			}
			.place-review-bottom-wrapper {
				padding: 0 7px;
				.place-review-bottom {
					border: 1px solid #e6e9ea;
					border-top: none;
					padding: 10px;
					background: #f4f5f6;
					a {
						display: block;
						font-size: $font_size_base;
						font-weight: 700;
						color: $color_base_fifth;
					}
					.quote {
						margin: 10px 0 0;
						line-height: 20px;
						font-style: italic;
						color: $color_base_third;
						@include text_nowrap();
						img {
							vertical-align: top;
						}
					}
					.time {
						text-align: right;
						margin: 14px 0 0;
						padding: 2px 0;
						> span {
							display: inline-block;
							font-size: $font_size_small;
							color: $color_base_fourth;
							i {
								margin-right: $margin_icon_font;
							}
						}
						.rate-it {
							display: inline-block;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}

//== Block review place horizontal on sidebar
//
.single-sidebar .list-place-review > li {
	width: 100%;
}

//== Block review place vertical
//
.list-place-review {
	&.vertical {
		> li {
			margin: 0 0 15px;
			.place-review {
				.place-image-wrapper {
					position: relative;
					height: auto;
					padding: 0;
					.number-comment {
					    position: absolute;
					    bottom: 3px;
					    left: 19px;
					    background: #3a4b5c;
					    padding: 0 3px 2px 5px;
					    font-size: $font_size_small;
					    color: #fff;
					    line-height: 1;
					}
					.img {
						width: 70px;
					    height: 60px;
					    display: inline-block;
					    float: left;
					    overflow: hidden;
					    margin-right: 10px;
					}
					.place-review-top {
					    display: block;
					    overflow: hidden;
					    padding-top: 9px;
					    padding-right: 14px;
					    h2 {
					    	color: #434b63;
						    font-size: $font_size_medium;
						    line-height: 1.3em;
						    margin: 0 0 5px;
						    font-weight: 400;
							a {
							    color: #434b63;
							    font-size: $font_size_medium;
							    @include text_nowrap();
							}
					    }
					    .address-place {
					    	color: #434b63;
						    font-size: $font_size_small;
						    padding-left: 1px;
						    @include text_nowrap();
						    i {
						    	margin-right: $margin_icon_font;
						    }
					    }
					}
				}
				.place-review-bottom-wrapper {
					position: relative;
					padding:0;
					.place-review-bottom {
						background: #f4f5f6;
					    border: 1px solid #e6e9ea;
					    border-top: none;
					    padding: 10px;
					    display: block;
					    .name-author {
					    	color: #1b83d3;
						    font-size: $font_size_base;
						    font-weight: 700;
						    display: block;
						    margin-bottom: 5px;
					    }
					}
				}
			}
		}
	}
}

.list-places .place-wrapper .img-place .ribbon, 
.widget-features-wrapper .list-places .place-wrapper .img-place .ribbon {
	background: #eb5256;
}
.list-places .place-wrapper .img-place .ribbon::after {
	border: 10px solid #eb5256;
}
.widget-features-wrapper .list-places .place-wrapper .img-place .ribbon::after {
	border: 9px solid #eb5256;
}

@media (max-width: $screen-sm-max) { // max-width: 991px
	.filter-wrapper {
		.widgettitle {
			display: block;
			width: 100%;
			text-align: center;
			font-weight: 600;
		}
		.list-option-filter {
			display:block;
			float:none;
			margin-bottom: 15px;
			> li {
				margin-right: 17px;
				margin-left: 0;
				.chosen-container {
					width: 180px !important;
				}
				&.icon-list-view {
					margin-right: 0;
				}
			} 
		}
	}
}
@media (max-width: $screen-xs-max) { // max-width: 767px
	
}
